@if (ViewBag.CurrentSortBy == ViewBag.ColName
      && ViewBag.CurrentSortOrder == SortOrderOptions.ASC.ToString())
{
    <th>
        <a href=@(Href($"~/persons/index/?searchBy={ViewBag.CurrentSearchBy}&searchString={ViewBag.CurrentSearchString}&sortBy={ViewBag.ColName}&sortOrder={nameof(SortOrderOptions.DESC)}"))>
            @ViewBag.DisplayName
        </a>
        <i class="fa-solid fa-sort-up"></i>
    </th>
}
else if (ViewBag.CurrentSortBy == ViewBag.ColName
&& ViewBag.CurrentSortOrder == SortOrderOptions.DESC.ToString())
{
    <th>
        <a href=@(Href($"~/persons/index/?searchBy={ViewBag.CurrentSearchBy}&searchString={ViewBag.CurrentSearchString}&sortBy={ViewBag.ColName}&sortOrder={nameof(SortOrderOptions.ASC)}"))>
            @ViewBag.DisplayName
        </a>
        <i class="fa-solid fa-sort-down"></i>
    </th>
}
else
{
    <th>
        <a href=@(Href($"~/persons/index/?searchBy={ViewBag.CurrentSearchBy}&searchString={ViewBag.CurrentSearchString}&sortBy={ViewBag.ColName}&sortOrder={nameof(SortOrderOptions.ASC)}"))>
            @ViewBag.DisplayName
        </a>
    </th>
}